#pong{
    border-top: 5px solid #949494;
    border-left: 5px solid #949494;
    border-bottom: 5px solid rgb(207, 207, 207);
    border-right: 5px solid rgb(207, 207, 207);
    height: inherit;
    width: inherit
}
#table{
    margin-left: auto;
    margin-right: auto;
}